[submodule "dotbot"]
	path = meta/dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "plugins/dotbot-asdf"]
	path = meta/plugins/dotbot-asdf
	url = git@github.com:sobolevn/dotbot-asdf.git
[submodule "meta/plugins/dotbot-brew"]
	path = meta/plugins/dotbot-brew
	url = git@github.com:d12frosted/dotbot-brew.git
